# Next.js
.next/
out/
build/

# Dependency directories
node_modules/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js cache
.cache/

# Build output directory
dist/

# Production build files
.next/

# NPM debug log
npm-debug.log*

# Yarn Debug Log
yarn-debug.log*

# Yarn Error Log
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDE and editor directories
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Optional: Uncomment if you have a public directory with uploaded files or specific assets
# !public/

# Optional: Uncomment if you're ignoring the public folder but have static files you want to keep
# !public/static
