


.katex-display{
    margin: 0 !important;
}


.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 700px;
}


.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

@media (max-width: 800px) {
.slideshow {
        margin: 0 auto;
        overflow: hidden;
        max-width: 80%;
    }
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
}



.slide {
    display: inline-block;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    position: relative;
    /* Needed for caption positioning */
}

.caption {
    position: absolute;
    bottom: 20px;
    /* Position the caption at the bottom of the slide */
    left: 50%;
    transform: translateX(-50%);
    /* Center the caption */
    color: white;
    /* Choose a text color that stands out */
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    /* Text shadow for better readability */
    font-size: 1.25rem;
    padding: 8px 16px;
    /* Padding around the text */
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    border-radius: 20px;
}

/* Update other styles as necessary */
/* .notion-equation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    Optional: Add some margin for spacing
} */


div.notion-collection-page-properties {
    display: none !important;
}

/* Dots for navigation */
.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #6a0dad;
}
.fade-in-section {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
    transform: translateY(20px);
}

.fade-in-section.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.ProseMirror {

    >*+* {
        margin-top: 0.75em;
    }

    .Tiptap-mathematics-editor {
        background: #202020;
        color: #fff;
        font-family: monospace;
        padding: 0.2rem 0.5rem;
    }

    .Tiptap-mathematics-render {
        padding: 0 0.25rem;

        &--editable {
            cursor: pointer;
            transition: background 0.2s;

            &:hover {
                background: #eee;
            }
        }
    }

    .Tiptap-mathematics-editor,
    .Tiptap-mathematics-render {
        border-radius: 0.25rem;
        display: inline-block;
    }

        .Tiptap-mathematics-editor,
        .Tiptap-mathematics-render {
                line-height: 1;
                    /* Adjust line height to remove extra vertical space */
            margin: 0;
            padding: 0;
            box-sizing: border-box;
                vertical-align: top;
                    /* This helps align items at the top, removing unexpected vertical spaces */
        }

.Tiptap-mathematics-editor,
.Tiptap-mathematics-render {

    max-width: 100%;
    /* Ensures the container does not overflow the parent's width */
    overflow-x: auto;
    /* Enables horizontal scrolling if content overflows */
    white-space: nowrap;
    /* Prevents the equation from wrapping onto the next line */
    /* Display style */
    opacity: 1;
    /* Makes the equation visible */
    position: relative;
    /* Normal positioning */
}
.Tiptap-mathematics-editor::-webkit-scrollbar,
.Tiptap-mathematics-render::-webkit-scrollbar {
    display: none;
    /* Completely hide the scrollbar */
}
.Tiptap-mathematics-editor--hidden {
    /* Ensures the editor is visible for adjustment */
    opacity: 1;
    /* Adjusts opacity to ensure content is visible */
}
}

/* Basic editor styles */
.tiptap {

    >*+* {
        margin-top: 0.75em;
    }

    ul,
    ol {
        padding: 0 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
    }

    code {
        background-color: rgba(#616161, 0.1);
        color: #616161;
    }

    pre {
        background: #0D0D0D;
        color: #FFF;
        font-family: 'JetBrainsMono', monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;

        code {
            color: inherit;
            padding: 0;
            background: none;
            font-size: 0.8rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    blockquote {
        padding-left: 1rem;
        border-left: 2px solid rgba(#0D0D0D, 0.1);
    }

    hr {
        border: none;
        border-top: 2px solid rgba(#0D0D0D, 0.1);
        margin: 2rem 0;
    }
}

.image-resizer {
    position: relative;
    /* display: inline-block; */
}

.resize-trigger {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: grey;
    cursor: se-resize;
}

.image-resizer:hover .resize-trigger {
    opacity: 1;
}

/* Ensure the images inside .tiptap are centered horizontally */
.tiptap img {

    display: block;
    /* Makes margin auto effective */
    margin-left: auto;
    /* Centers the image horizontally */
    margin-right: auto;
    /* Centers the image horizontally */
    max-width: 100%;
    /* Prevents the image from overflowing */
    height: auto;
    /* Keeps the aspect ratio */
}

img.tiptap-image::after {
    content: "\n";
    /* Adds a visible content block */
    display: block;
    /* Make it take a full line */
    min-height: 1em;
    /* Set a minimum height for the empty row */
    border-top: 1px solid #ddd;
    /* Optional: Adds a visible horizontal line */
    margin-top: 5px;
    /* Adds space between the image and row */
}